My workflow 2 (1).json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=\n{{ $json.message.text }}",
        "options": {
          "systemMessage": "System Prompt do Agente:\n\"Você é o HR Buddy, assistente virtual de RH da ChocolaTech.\nREGRAS:\n\nSempre responda em português.\nResponda APENAS dúvidas relacionadas a RH.\nIDENTIFICAÇÃO DO FUNCIONÁRIO:\nSe o usuário não disser quem é, pergunte o nome completo dele logo na primeira mensagem.\nUse a ferramenta MySQL para buscar na tabela funcionarios usando SEMPRE o NOME COMPLETO informado pelo usuário na conversa.\nSe encontrado: use os saldos de férias e banco de horas.\nSe não encontrado: não invente dados pessoais. Responda apenas com base nas políticas gerais de RH do Vector Store.\nUse a base de conhecimento para dúvidas gerais.\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        448,
        0
      ],
      "id": "1e4285b9-955f-46cf-9999-f5465c14dbef",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        288,
        224
      ],
      "id": "e4aac7ba-0b05-485e-8eb5-267de53f30a9",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "yi6PnffKqYOi6EO3",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        416,
        224
      ],
      "id": "03afa4b9-11f3-4b73-beb3-44e5dfac1f03",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "busque informaçoes sobre politica de RH, ferias, horarios e rotina da empresa chocolatech\n",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        544,
        224
      ],
      "id": "df8e96c7-6bb7-4a56-b51f-bff10a311df6",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        624,
        432
      ],
      "id": "0df5a7c7-239f-4550-a1b6-47daeab4dba6",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "yi6PnffKqYOi6EO3",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Table', 'Nome da tabela do banco de dados') }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        832,
        224
      ],
      "id": "85b50220-a317-435f-91ec-98bcd3462295",
      "name": "Select rows from a table in MySQL",
      "credentials": {
        "mySql": {
          "id": "ornTN8mKpaZIB6Cm",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        64,
        0
      ],
      "id": "880998d8-fdf8-4a77-a93c-5243377a7377",
      "name": "Telegram Trigger",
      "webhookId": "3b149273-5dfc-456f-962a-4c70cb22d400",
      "credentials": {
        "telegramApi": {
          "id": "D1HI1aCwIQYQVrGQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $(\"Telegram Trigger\").item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        0
      ],
      "id": "a2d3af26-8848-4011-85ab-6bdea81eeb1c",
      "name": "Send a text message",
      "webhookId": "3ae4a57a-6baf-4033-9c2e-1312f9af94a5",
      "credentials": {
        "telegramApi": {
          "id": "D1HI1aCwIQYQVrGQ",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table in MySQL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a2937317-65a2-4d8c-a3c2-b58b2e029245",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b47e8f8e920a676f4b84ae46162d12a2758a24e244dac7bea3650f360d01ea79"
  },
  "nodeGroups": [],
  "id": "uhgEOPHGlp6uX9qX",
  "tags": []
}